<% if flash[:success] %>
<div class="alert alert-success">
  <%= flash[:success] %>
</div>
<% end %>

<%= form_for :classy_class, url: create_class_path do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :teacher %>
  <%= f.text_field :teacher %>

  <%= f.label :duration %>
  <%= f.text_field :duration %>

  <% if @schedule = Schedule.where(belongs_to_user: current_user.id).first %>

    <% @days = Day.where(belongs_to_schedule: @schedule.id) %>

    <% @blocks = [] %>
    
    <% @ok = false %>
    <% @days.each do |day| %>
      <% if day.order_of_blocks %>
        <% @blocks_for_day = day.order_of_blocks.split(",").collect %>
        <% @ok = true %>
        <% @blocks_for_day.each do |block| %>
          <% @blocks << block %>
        <% end %> 
      <% end %>
    <% end %>
    
    <% if @ok == false %>
      <% @blocks = ["A", "B", "C", "D", "E"] %>
    <% end %>

    <% @blocks = @blocks.uniq %>
    <% @blocks.sort_by!{ |m| m } %>

    <% @blocks_for_form = [] %>
    <% @blocks.each do |block| %>
      <% @dupe = [block, block] %>
      <% @blocks_for_form << @dupe %> 
    <% end %>

    <%= f.label :block, "Block" %>
    <%= f.select :block, options_for_select(@blocks_for_form) %>

  <% end %>

  <%= f.submit "Submit", class: "btn btn-large btn-primary" %>
<% end %>