<% provide(:title, 'Events') %>
<% @exception_count = 0 %>
<div id="calendar">
	<h2 id="month">
	    <%= link_to "<", :month => (@date.beginning_of_month-1).strftime("%Y-%m-01") %>
	    <%= h @date.strftime("%B %Y") %>
	    <%= link_to ">", :month => (@date.end_of_month+1).strftime("%Y-%m-01") %>
 	</h2>
	<%= calendar_for @events, :year => @date.year, :month => @date.month do |calendar| %>
	  <%= calendar.head('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday') %>
	  <% calendar.day(:day_method => :date_of_event) do |date, events| %>
	    <%= date.day %>

	    <% @exc_days = [] %>
	    <% @start_date = Date.parse('2013-09-02') %>

	    <% if date >= @start_date %>
	    <% @duration = (@start_date..date).select {|d| (1..5).include?(d.wday)}.size - 1 %>
	    <% (@start_date..date).each do |dts| %>
		    <% Event.where(exception_day: true).each do |excday| %>
		    	<% if excday.date_of_event.year == dts.year && excday.date_of_event.month == dts.month && excday.date_of_event.day == dts.day %>
		    		<% @exc_days << dts %>
		    	<% end %>
		    <% end %>
	    <% end %>

	    <% if (0..4).include?(date.wday) %>
	    	<% @excday = false %>
	    	<% Event.where(exception_day: true).each do |exc| %>
	    		<% if exc.date_of_event.year == date.year && exc.date_of_event.month == date.month && exc.date_of_event.day == date.day %>
	    			<ul><p>Day 0</p></ul>
	    			<% @excday = true %>
	    		<% end %>
	    	<% end %>
	    	<% if @excday == false %>

	    		<ul><p>Day <%= 1 + (@duration - @exc_days.count) % 5 %></p></ul>
	    	<% end %>
	    <% end %>

		<% else %>
			<ul><p>Day 0</p></ul>
		<% end %>

	    <ul>
		<% for events in events %>
			<% if events.belongs_to_user == current_user.id && events.exception_day == false %>
				<p><%= link_to events.name, show_event_path(id: events.id) %></p>
			<% end %>
		<% end %>
		</ul>
	  <% end %>
	<% end %>
</div>