<% @has_schedule = false %>

<% if @schedule = Schedule.where(belongs_to_user: current_user.id).first %>
<% @has_schedule = true %>
<div class="row">
<% @days = Day.where(belongs_to_schedule: @schedule.id) %>
<% @day_counter = 1 %>
<% @days.each do |day| %>
	<div class="span6">
		<table class="table table-striped">
			<h2>Day <%= day.number %></h2>
			<thead>
				<tr>
					<th>Period</th>
					<th>Class</th>
					<th>Teacher</th>
					<th>Duration</th>
				</tr>
			</thead>
			<tbody>
			<% @classy_counter = 1 %>
			<% ClassyClass.all.each do |classy| %>
				<% if classy.belongs_to_day == day.id %>
				<tr>
					<td><%= @classy_counter %></td>
					<td><%= classy.name %></td>
					<td><%= classy.teacher %></td>
					<td><%= classy.duration %><td>
				</tr>
				<% @classy_counter += 1 %>
				<% end %>
			<% end %>
			</tbody>
		</table>
	</div>
<% if @day_counter % 2 == 0 %>
</div>
<div class="row">
<% end %>
<% @day_counter += 1 %>
<% end %>
</div>
<% end %>

<% if @has_schedule == false %>

<%= form_for :schedule, url: create_schedule_path do |f| %>

  <%= f.label :number_of_days %>
  <%= f.text_field :number_of_days %>

  <%= f.submit "Submit", class: "btn btn-large btn-primary" %>
<% end %>

<% end %>

<% #link_to "New Schedule", create_new_path %>