<% @has_schedule = false %>
<% if @schedule = Schedule.where(belongs_to_user: current_user.id).first %>
<% @has_schedule = true %>
<div class="row">
<% @days = Day.where(belongs_to_schedule: @schedule.id) %>

<% @day_counter = 1 %>
<% @days.each do |day| %>
	<% if day.order_of_blocks %>
		<% @number_of_blocks = day.order_of_blocks.split(",").collect.count %>

		<% @enum_data = day.order_of_blocks.split(",").collect %>
		<% @array_data = [] %>
		<% @enum_data.each do |enum| %>
			<% @array_data << enum %>
		<% end %>
	<% else %>
		<% @number_of_blocks = 0 %>
	<% end %>
	<div class="span6">
		<table class="table table-striped">
			<h2>Day <%= day.number %></h2>
			<thead>
				<tr>
					<th>Period</th>
					<th>Block</th>
					<th>Class</th>
					<th>Teacher</th>
					<th>Duration</th>
				</tr>
			</thead>
			<tbody>

			<% @num_counter = 0 %>
			<% while @num_counter < @number_of_blocks %>
				<% @current_block = @array_data[@num_counter] %>
				<tr>
					<td><%= @num_counter + 1 %></td>
					<td><%= @current_block %></td>
					<% ClassyClass.where(block: @current_block).each do |current_class| %>
						<% if current_class.belongs_to_user == current_user.id %>
							<td><%= current_class.name %></td>
							<td><%= current_class.teacher %></td>
							<td><%= current_class.duration %></td>
						<% end %>
					<% end %>
				</tr>

				<% @num_counter += 1 %>
			<% end %>

			</tbody>
		</table>
	</div>
<% if @day_counter % 2 == 0 %>
</div>
<div class="row">
<% end %>
<% @day_counter += 1 %>
<% end %>
</div>
<% end %>

<% if @has_schedule == false %>
	<%= form_for :schedule, url: create_schedule_path do |f| %>

	  <%= f.label :number_of_days %>
	  <%= f.text_field :number_of_days %>

	  <%= f.label :number_of_blocks %>
	  <%= f.text_field :number_of_blocks %>

	  <%= f.submit "Submit", class: "btn btn-large btn-primary" %>
	<% end %>
<% end %>