<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Classy Class App", root_path, class: "brand" %>
      <ul class="nav pull-right">
        <li><%= link_to "Home", root_path %></li>
        <% if signed_in? %>
          <% if @schedule = Schedule.where(belongs_to_user: current_user.id).first %>
          <li><%= link_to "Add Class", create_new_path %></li>
          <% end %>
          <li><%= link_to "My Schedule", my_schedule_path %></li>
          <li><%= link_to "Sign out", sign_out_path, method: "delete" %></li>
        <% else %>
          <li><%= link_to "Sign in", sign_in_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</header>