<% provide(:title, 'New school') %>

<% if @school.errors.full_messages.any? %>
	<div class="alert alert-error alert-block">
	  <button type="button" class="close" data-dismiss="alert">&times;</button>
	  <p>Oops! There appears to have been a few errors. Please fix them up before submitting again.</p>
	  <ul>
	    <% @school.errors.full_messages.each do |error_message| %>
	    <li><%= error_message %></li>
	    <% end %>
	  </ul>
	</div>
<% end %>

<%= form_for @school do |f| %>
	<%= f.label :name %>
	<%= f.text_field :name %>

	<%= f.label :description %>
	<%= f.text_area :description %>

	<%= f.label :number_of_days %>
	<%= f.text_field :number_of_days %>

	<%= f.label :number_of_periods %>
	<%= f.text_field :number_of_periods %>

	<%= f.submit "Submit", class: "btn btn-large btn-primary" %>
<% end %>